<table class="personal-details">
  <tr>
    <td rowspan="6" class="logo-container">
      <img src="systems/reign-vtt/assets/Reign Logo.jpg" alt="Reign Logo" class="logo">
    </td>
    <td><label for="playerName">Player Name:</label></td>
    <td><input type="text" id="playerName" name="system.playerName" value="{{system.playerName}}" data-dtype="String"></td>
  </tr>
  <tr>
    <td><label for="characterName">Character Name:</label></td>
    <td><input type="text" id="characterName" name="system.characterName" value="{{system.characterName}}" data-dtype="String"></td>
  </tr>
  <tr>
    <td><label for="companyName">Company Name:</label></td>
    <td><input type="text" id="companyName" name="system.company" value="{{system.company}}" data-dtype="String"></td>
  </tr>
  <tr>
    <td><label for="mission">Mission:</label></td>
    <td><input type="text" id="mission" name="system.mission" value="{{system.mission}}" data-dtype="String"></td>
  </tr>
  <tr>
    <td><label for="duty">Duty:</label></td>
    <td><input type="text" id="duty" name="system.duty" value="{{system.duty}}" data-dtype="String"></td>
  </tr>
  <tr>
    <td><label for="craving">Craving:</label></td>
    <td><input type="text" id="craving" name="system.craving" value="{{system.craving}}" data-dtype="String"></td>
  </tr>
</table>
