<form>
  <div class="sheet-header">
    {{> "systems/reign-vtt/templates/partials/personal-details.html"}}
  </div>
  <div class="sheet-body">
    <table class="attributes-skills-table">
      <tr>
        <td>{{> "systems/reign-vtt/templates/partials/body.html"}}</td>
        <td>{{> "systems/reign-vtt/templates/partials/charm.html"}}</td>
        <td>{{> "systems/reign-vtt/templates/partials/command.html"}}</td>
      </tr>
      <tr>
        <td>{{> "systems/reign-vtt/templates/partials/knowledge.html"}}</td>
        <td>{{> "systems/reign-vtt/templates/partials/coordination.html"}}</td>
        <td>{{> "systems/reign-vtt/templates/partials/senses.html"}}</td>
      </tr>
    </table>
    <div class="other-info">
      {{> "systems/reign-vtt/templates/partials/other-info.html"}}
    </div>
  </div>
</form>
